/* second_display.css */
* {
    font-family: 'Merriweather', serif;
}

body {
    background-image: url(../static/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.second-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.user-info {
    text-align: center;
    color: red;
}

.title {
    margin: auto;
    font-size: 90px;
    font-weight: bold;
}

.name {
    margin: auto;
    font-size: 130px;
    font-weight: bolder;
    text-transform: uppercase;
}
